<!DOCTYPE html>
<html>
    <head>
        <title>Homework 3 - Flask </title>
    </head>
    <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for text in messages %}
            <li> {{text}} </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>Welcome {{name}}!</h1>
    <p>
        <a href ="www.google.com">not google</a>
        <ul>
            {% for cities in city_names %}
              <li>{{ cities }}</li>
            {% endfor %}  
            </ul>
    </p>
    <field action=""method="POST">
        {{ field.hidden_tag() }}
        <p>
            {{ field.city_name.label }}<br>
            {{ field.city_name(size = 32) }}
        </p>
        <p>
            {{ field.submit_button() }}
        </p>
    </field>
    </body>
</html>